@font-face {
    font-family: "Goudy Bookletter 1911";
    src: url("fonts/goudy_bookletter_1911.woff");
}

:root {
    font-family: "Goudy Bookletter 1911";
}

html {
    background-color: #efefef;
    font-size: 1.5em;
}

body {
    margin: 1.5em;
}

header > p {
    margin: 0 1em;
    font-size: larger;
}

input[type="checkbox"] {
    display: none;
}

li:has(input:checked) {
    list-style-type: disc;
}

h2 {
    text-decoration: underline;
    font-weight: normal;
}

h1 {
    background-color: var(--header-bg);
    color: var(--header-color);
    text-align: center;
    padding: 0.25em;
}

.number {
    font-family: initial;
}

#method .number {
    text-decoration: underline;
}

#ingredients ul {
    list-style-type: circle;
}

footer {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#byline {
    font-size: smaller;
    text-align: right;
}

li {
    margin-top: 0.3em;
}

/* qr = 32px, m logo = 16px
 */
.donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: small;
    overflow-wrap: anywhere;

    summary {
        display: flex;
    }

    .qr-toggle {
        height: 32px;
        width: 32px;
        cursor: pointer;
    }

    .address-logo {
        height: 16px;
        width: 16px;
    }

    .text-address {
        display: flex;
        flex-wrap: nowrap;
        gap: 0.5em;
        place-items: center;
    }

    .qr-address {
        display: none;
        width: 80%;
        margin: 0 auto;
    }

    details[open] ~ .address {
        .text-address {
            display: none;
        }

        .qr-address {
            display: block;
        }
    }
}



