@font-face {
    font-family: "Goudy Bookletter 1911";
    src: url("fonts/goudy_bookletter_1911.woff");
}

:root {
    font-family: "Goudy Bookletter 1911";
}

html {
    background-color: #efefef;
    font-size: 1.5em;
}

body {
    margin: 1.5em;
}

header > p {
    margin: 0 1em;
    font-size: larger;
}

input[type="checkbox"] {
    display: none;
}

li:has(input:checked) {
    list-style-type: disc;
}

h2 {
    text-decoration: underline;
    font-weight: normal;
}

h1 {
    background-color: var(--header-color);
    text-align: center;
    padding: 0.25em;
}

.number {
    font-style: italic;
    text-decoration: underline;
}

#ingredients ul {
    list-style-type: circle;
}

footer {
    margin-top: 2em;
}

#byline {
    font-size: smaller;
    text-align: right;
}

li {
    margin-top: 0.3em;
}